@use '../../styles/App';

#auth {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: App.$widthMax;
	padding: App.$padLarge;
	margin: App.$pad;
	margin-top: calc(App.$padLarge * 5);
	margin-bottom: calc(App.$padLarge * 5);
	gap: App.$padLarge;
}

html.dark #auth {
	background: App.$darkSubtle;
}

html.light #auth {
	background: App.$lightSubtle;
}

#auth #lightMode {
	position: fixed;
	top: App.$pad;
	right: App.$pad;
	align-self: flex-end;
}

#auth > header, #auth > main, #auth > footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: App.$pad;
}

#auth > header, #auth > footer {
	flex-direction: row;
	flex-wrap: wrap;
	gap: App.$pad;
	text-align: center;
}

#auth > main .authLabel, #auth > main .authLabel > label {
	position: relative;
	display: flex;
	width: 100%;
	gap: calc(App.$pad / 3);
}

#auth > main > div:first-of-type {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: calc(App.$pad / 3);
}

#auth > main > div:first-of-type > div {
	font-size: App.$fontSmall;
}

#auth > main label div {
	font-size: App.$fontSmall;
}

#auth > main > div button {
	color: inherit;
}

#auth > main > button {
	margin-top: App.$padSmall;
}

#auth > main div.authLabel input {
	padding-right: App.$height;
}

#auth > main .authLabel > button {
	position: absolute;
	width: fit-content;
	height: fit-content;
	right: 0;
	bottom: 0;
	padding: 0;
	background: transparent;
}

