@use '../../styles/App';

.post {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: calc((App.$height * 4) + (App.$pad * 2));
	padding: App.$pad;
	gap: App.$pad;
}

html.dark .post {
	background: App.$darkSubtle;
	box-shadow: App.$darkShadow;
}

html.light .post {
	background: App.$lightSubtle;
	box-shadow: App.$lightShadow;
}

.post > header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: App.$pad;
}

.post > header > div > div {
	display: flex;
	align-items: end;
	flex-wrap: wrap;
	gap: calc(App.$padSmall / 2);
}

.post > header > img {
	width: App.$height;
}

.post > main {
	display: flex;
	flex-direction: column;
	gap: App.$pad;
	word-break: break-all;
	flex: 1;
}

.post > main > div {
	position: relative;
	height: calc(App.$height * 7);
	padding: App.$pad;
	overflow: hidden;
}

html.dark .post > main > div {
	background: App.$darkSubtle;
}

html.light .post > main > div {
	background: rgb(231, 231, 231);
}

.post > main > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.post > main > div > img:first-of-type {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: calc(App.$height * 9);
	height: calc(100% - (App.$pad * 2));
	width: calc(100% - (App.$pad * 2));
	object-fit: cover;
	z-index: 1;
}

.post > main > div > img:last-of-type {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(App.$height * 7);
	filter: blur(2rem);
}

.post > header > img {
	height: App.$height;
}

.post > footer {
	display: flex;
	justify-content: end;
	flex-wrap: wrap;
	gap: App.$pad;
}

.post > footer > button {
	display: flex;
	width: fit-content;
	padding: App.$padSmall;
	padding-left: 0;
	color: inherit;
}

html.dark .post > footer > button {
	background: App.$darkBright;
}

html.light .post > footer > button {
	background: App.$lightBright;
}

.post > footer > button.active svg {
	color: App.$primary;
}

.post > footer > button > svg {
	min-height: App.$pad;
	max-width: App.$pad;
	padding: 0;
}

.post > footer > button > p {
	opacity: 100%;
}
