// Themes
$primary: #3e7bed;
$primaryGradient: linear-gradient(
	45deg,
	#3e7bed,
	#6a3eed
);

// Dark
$dark: rgb(20, 20, 22);
$darkSubtle: rgb(29, 29, 34);
$darkBright: rgb(38, 38, 46);
$darkShadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.35);

// Light
$light: rgb(240, 240, 245);
$lightSubtle: rgb(255, 255, 255);
$lightBright: $light;
$lightShadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.1);

// Outline
$outlinePrimary: 0.1rem solid $primary;
$shadowPrimary: 0 0 0 0.2rem $primary;
$outline: 0.1rem solid;
$outlineTransparent: 0.1rem solid transparent;

// Font sizes
$font: 1rem;
$fontLarge: 1.5rem;
$fontSmall: 0.8rem;

// Padding
$padSmall: 0.75rem;
$pad: 1rem;
$padLarge: 1.5rem;

// Sizes
$height: 2.5rem;
$width: 5rem;
$widthMax: 25rem;
$widthMaxLarge: 35rem;
$widthMaxLargest: 65rem;

// Shape
$round: 0.25rem;

// Animation
$animationNormal: 0.4s ease;

* {
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	outline: $outlineTransparent;
	border-radius: $round;
	background: transparent;
}

html.dark {
	color: $lightSubtle;
}

html.light {
	color: $dark;
}

html.dark *::placeholder {
	color: rgb(75, 75, 90);
}

html.light *::placeholder {
	color: rgb(160, 160, 175);
}

html.dark *:focus, html.dark a:hover, html.dark a:focus,
html.dark button:hover, html.dark button:focus, html.dark textarea:hover,
html.dark textarea:focus, html.dark input:hover, html.dark input:focus, html.dark .file:hover,
html.dark .file:focus {
	outline: $outline $darkSubtle;
	box-shadow: $shadowPrimary, $darkShadow;
}

html.light *:focus, html.light a:hover, html.light a:focus,
html.light button:hover, html.light button:focus, html.light textarea:hover,
html.light textarea:focus, html.light input:hover, html.light input:focus, html.light .file:hover,
html.light .file:focus {
	outline: $outline $light;
	box-shadow: $shadowPrimary, $lightShadow;
}

html, body {
	height: 100%;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

html.dark {
	background: $dark;
}

html.light {
	background: $light;
}

::-webkit-scrollbar {
	display: none;
}

button, label, input, a, textarea {
	display: flex;
	justify-content: center;
	align-items: center;
	height: $height;
	width: 100%;
	padding: $pad;
	transition: outline-color $animationNormal, box-shadow $animationNormal;
}

button {
	width: 100%;
	color: $lightSubtle;
	background: $primaryGradient;
}

.fixedButton {
	position: fixed;
	bottom: calc($pad * 2);
	right: calc($pad * 2);
	width: $height;
	z-index: 1;
	color: $lightSubtle;
	background: $primaryGradient;
}

a {
	color: inherit;
	background: $primary;
}

a.link {
	width: fit-content;
	height: fit-content;
	padding: 0;
	font-size: $fontSmall;
	text-decoration: underline;
	background: transparent;
}

label {
	position: relative;
	width: 100%;
	height: fit-content;
	flex-direction: column;
	align-items: start;
	gap: $padSmall;
	padding: 0;
}

label > svg {
	position: absolute;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

label.file {
	cursor: pointer;
	display: flex;
	height: $height;
	overflow: hidden;
}

html.dark label.file {
	background: $darkBright;
}

html.light label.file {
	background: $lightBright;
}

label.file > svg {
	position: absolute;
	left: auto;
	bottom: auto;
	pointer-events: none;
}

label.file > img {
	width: $height;
	height: $height;
	align-self: flex-end;
}

input[type='file'] {
	display: none;
}

input, textarea {
	width: 100%;
	padding-left: $height;
	outline: $outline transparent;
	color: inherit;
}

textarea {
	display: flex;
	justify-content: start;
	align-items: start;
	text-align: start;
	padding: $pad;
	height: auto;
}

html.dark input {
	background: $darkBright;
}

html.light input {
	background: $lightBright;
}

img {
	height: 100%;
	object-fit: cover;
}

.logo {
	height: $height;
}

#auth .logo {
	position: absolute;
	top: - $height * 2;
}

svg {
	min-height: $height;
	max-height: $height;
	min-width: $height;
	max-width: $height;
	padding: $padSmall;
}

h1 {
	font-size: $fontLarge;
}

p {
	font-size: $fontSmall;
	opacity: 50%;
}
